body {
  background-color: #2e2e36;
}

hr {
  border-style: dotted none none;
  width:5%;
  color: gray;
  border-width: 10px;
}

img {
  height: 200px;
  width: 200px;
}


h1 {
color: #66BFBF
}

h3 {
color: #66BFBF
}
