/*******external CSS******/
body {
  background-color: #2e2e36;
}

hr {
  border-style: dotted none none;
  width:5%;
  color: gray;
  border-width: 10px;
}


h1 {
color: #28FFBF;
}

p{
color: #BCFFB9;
}

img{
  height: 200px;
  width: 200px;
}

/*******classes******/
.bacon{
  border-radius: 50%;
  opacity: 0.5;
  filter: contrast(200%);
}

.tomato{
  border-radius: 100%;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.hidden{
  color: #2e2e36;
}

p:hover{
  background-color: red;
}
