body {
  background-color: #2e2e36;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-family: 'Crimson Text', serif;
  /* margin: 0 auto; */
}

p {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

.picture-dimensions {
  width: 300px;
  height: 300px;
  margin: 0;
}

.top-cloud {
  position: absolute;
  right: 495px;
}

.bot-cloud {
  position: absolute;
  left: 485px;
  /* position: relative;
  left: 300px; */
}

/*
.middle-container {}

.bottom-container {}
*/
.green {
  background-color: #288EE0;
}

.gray {
  position: absolute;
  background-color: white;
  width: 400px;
  height: 400px;
  left: 500px;
}

.underline {
  text-decoration: underline;
}

.parent {
  position: relative;
}

.flip-horizontally {
  transform: scaleX(-1);
}
